<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a id="step1" class="nav-link" routerLink="/step1" routerLinkActive="active">
      Step 1
    </a>
  </li>
  <li class="nav-item ms-2" [ngClass]="{'cursor-not-allowed': !allowStep2 }">
    <a id="step2" class="nav-link" routerLink="/step2" routerLinkActive="active" [ngClass]="{'disabled': !allowStep2}">
      Step 2
    </a>
  </li>
  <li class="nav-item ms-2" [ngClass]="{'cursor-not-allowed': !allowStep3 }">
    <a id="step2" class="nav-link" routerLink="/step3" routerLinkActive="active" [ngClass]="{'disabled': !allowStep3}">
      Step 3
    </a>
  </li>
</ul>

<router-outlet></router-outlet>